<div layout="row">
<div flex="40"></div>
<div layout="column">
 <h1 class="md-display-1">User Login</h1>
<form class="form" name="form" ng-submit="vm.login(form)" novalidate>
<md-input-container class="md-block" flex-gt-sm="">
<label>Email</label>
<input  ng-model="vm.user.email" required>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm="">
<label>Password</label>
<input type="password" ng-model="vm.user.password" required>
</md-input-container>
<div flex="30"><md-button class="md-raised" type="submit">Log in</md-button></div>
</form>
</div>
</div>
