  <div layout="row">
    <div flex="30"></div>
    <div layout="column" flex='30'>
     <h1 class="md-display-1" align="center">Login</h1>

     <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

      <md-input-container class="md-block" flex-gt-sm="">
        <label for="email">E - mail</label>
        <input type="email" name="email" ng-model="vm.user.email" required autofocus>

        <div class="help-block">
            <p ng-show="form.email.$invalid && (!form.email.$pristine || form.$submitted)">
            A valid E-mail is required. </p>
        </div>
      </md-input-container>
     

      <md-input-container class="md-block" flex-gt-sm="">
        <label for="password">Password</label>
        <input type="password" name="password" ng-model="vm.user.password" required
        minlength="3">

        <div class="help-block">
            <p ng-show="form.password.$invalid && (!form.password.$pristine || form.$submitted)">
              A valid Password is required (length >= 3). </p>
        </div>
      </md-input-container>
      
      <div align="center">
        <md-button class="md-raised md-primary" type="submit">Login</md-button>
        <md-button type="reset" class="md-raised md-warn"> Clear </md-button>
          <br>
        <md-button  type="button" class="md-raised" ui-sref='signup'> Register </md-button>
      </div>
    </form>
  </div>
  <div flex=20></div>
</div>